/* Style for general HTML elements */
html, body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body {
  background-size: auto;
  background-repeat: repeat;
  position: relative;
  font-family: ms pgothic;
  animation: moveBackground 4s linear infinite;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #fdedff;
}

::-webkit-scrollbar-thumb {
  background: #99b6ff;
  /* background: #CDDBFF; */
}

/* Classes that I need everywhere */
.cool_box {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.63);
  border: #D1DBFF ridge 3px;

  /* cool pink chunky border */
  /* border-width: 50px; border-image: url('https://cdn140.picsart.com/322698437144201.png') 150 round;; */
}

/* Animations */
@keyframes moveBackground {
  0% {
    background-position: top left;
  }
  100% {
    background-position: 240px 240px;
  }
}
